transformers
torch
datasets
torchdata
tensorboard
tiktoken
blobfile
tabulate
wandb
sentencepiece
accelerate
click
httpx
wheel
torchvision
huggingface-hub
fastapi
uvicorn
google-cloud
google-cloud-storage
tqdm